@model List<Persona>



<h2 class="text-center mb-5">List of Personas</h2>

<div class="row mb-5">
    <div class="col">
        <a class="btn btn-primary" asp-controller="Personas" asp-action="Create">New Persona</a>
    </div>
    <div class="col">
       
    </div>
</div>




<table class="table">
    <thead>
        <tr>
            <th >ID</th>
            <th >Name</th>
            <th >Arcana</th>
            <th >Level</th>
            <th >Price</th>
            <th>Image</th>
            <th >Created At</th>
            <th>Action</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.Id</td>
                <td>@product.Name</td>
                <td>@product.Arcana</td>
                <td>@product.Level</td>
                <td>@(product.Price)$</td>
                <td><img src="/personas/@product.ImageFileName" width="100" /></td>
                <td>@product.CreatedAt.ToString("MM/dd/yyyy")</td>
                <td style="white-space:nowrap">
                    <a class="btn btn-primary btn-sm" asp-controller="Personas" asp-action="Edit"
                       asp-route-id="@product.Id">Edit</a>
                    <a class="btn btn-danger btn-sm" asp-controller="Personas" asp-action="Delete"
                       asp-route-id="@product.Id" onclick="return confirm('Are you sure?')">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
